{% extends "base.html" %}
{% load static %}

{% block title %}
    About the Chapter | {{ block.super }}
{% endblock %}

{% block content %}
    <h1>About Georgia Beta</h1>
	<img class="content-right" alt="Phi Psis Rule" src="{% get_static_prefix %}images/werule.jpg" />
	<p>Phi Psis are gentlemen, who strive daily to make our community a
	better place by volunteering their time and effort with various activities.
	From the pledges to the senior members, we guide and assist each other in
	order to maintain a close-knit Brotherhood based on trust, loyalty, and
	development of leadership skills. This strong Brotherhood allows us to form
	a bond that lasts a lifetime, no matter what one's background may be.</p>

    <p>The Georgia Beta Chapter of Phi Kappa Psi is an ever expanding group.
	With this expansion comes the opportunity for many great leadership
	positions. Our brothers hold key positions in the Housing Department,
	the Interfraternity Council (IFC), honor societies, and other various
	campus and city organizations. These positions provide Phi Kappa Psi
    with many ways to get involved.</p>

	<p>We accept men of character who are interested in contributing to a
	strong sense of Brotherhood. Our mission is to experience life through
	&quot;<em>the great joy of serving others</em>&quot; while becoming
	well-rounded gentlemen and scholars. We are always striving to increase
	the Chapter's academic, social, and athletic standing on campus by
	successfully recruiting new members and upholding the ritual of the
	Fraternity.</p>

    <a name="idea"></a><h1>Brotherhood</h1>
	<h3>the idea behind phi kappa psi</h3>
	<p><img class="content-left" alt="150th Logo" title="150th Anniversary Logo" src="{% get_static_prefix %}images/pkp150.gif" />
	The Phi Kappa Psi Fraternity is a private association of educated men who endeavor to
	live honorably and humanely. Its Brotherhood is open to men of talent and character,
	but to those in particular who as <strong>gentlemen</strong> feel an affinity with one
	another in the common ways of college life and, moreover, in the pursuit of excellence.
	Such men may differ in their origins, backgrounds, and beliefs, and even be set upon diverse
	purposes, interests and vocations. Yet as Brothers in Phi Kappa Psi, they are vitally united in
	their dedication to the highest standards of intellectual, emotional, and spiritual integrity.</p>

    <p>Phi Kappa Psi encourages all its Brothers to express the true measure of their abilities and
	personalities through the great joy of serving others. Although the Fraternity is not in itself a
	religion, its ethical principles are derived from ancient wisdom and hallowed traditions that serve
	to advance the noble elements within human nature and thus work to overcome baseness and corruption.
	Phi Kappa Psi affirms its sense of fraternity to be joyous and life-giving for men capable of
	comprehending and accepting the meaning of its privileges, challenges and obligations. Relying on
	the discipline and responsibility of its individual Brothers, Phi Kappa Psi, alone of all fraternities,
	entrusts the governance of its Chapters and of the general Fraternity to its student leaders, whose
	excerise of authority is balanced and complemented by its alumni.</p>

    <p>For young men, Phi Kappa Psi helps to shape the random experiences of the college years into
	a more stable form in which life begins to reveal larger, clearer purposes, and friendships
	become firm and lasting. In the middle years the Fraternity helps to sustain mature men in the
	settled courses of life, strengthening their resolve and renewing their spirits through the
	ripening of friendship.  In later life the Fraternity helps to impart the harmony and wholeness
	that can lead the principled man, upheld by the loyalty of his friends, to understanding and
	contentment. Above all, Phi Kappa Psi creates a moral order for the conduct of life that,
	generation after generation, unites men of honor, decency, and good will in enduring friendship
	and Brotherly love.<br /><span class="more">&mdash; Written by Kent Owen</span></p>
{% endblock %}