{% extends "base_bros_only.html" %}
{% load url from future %}

{% block title %}
    Add Announcement | {{ block.super }}
{% endblock %}

{% block sidebar %}
    <h3>Note</h3>
    <p>Include a date if the announcement pertains to a deadline
    or an event that is happening on a certain date. Do not include a date for a
    recurring event such as chapter.</p>
{% endblock %}

{% block content %}
    <h1>Add Announcement</h1>
    <p>Use this form to add an announcement.</p>
    <form action="{% url 'gtphipsi.chapter.views.add_announcement' %}" method="post">
        {% include "snippets/_table_form.html" with submit_text="Add" %}
    </form>
{% endblock %}