{% extends "base_bros_only.html" %}
{% load url from future %}

{% block title %}
    {% if private %}Private{% else %}All{% endif %} Announcements | {{ block.super }}
{% endblock %}

{% block head_extras %}
    {{ block.super }}
    <style type="text/css">
        ul li {
            list-style-type: none;
        }
    </style>
{% endblock %}

{% block sidebar %}
    <h3>Note</h3>
    <p>You can switch between all announcements and just private announcements using the links in the right-hand corner.</p>
{% endblock %}

{% block content %}
    <div style="float: right; padding: 15px">{% if private %}<a class="alwaysgreen" href="{% url 'gtphipsi.chapter.views.announcements' %}">{% endif %}all{% if private %}</a>{% endif %} | {% if not private %}<a class="alwaysgreen" href="{% url 'gtphipsi.chapter.views.announcements' %}?bros_only=true">{% endif %}only private{% if not private %}</a>{% endif %}</div>
    <h1>{% if private %}Private{% else %}All{% endif %} Announcements</h1>
    <p style="margin: 10px 0 25px 0">These are all the {% if private %}private{% endif %} announcements posted by the chapter.</p>
    <ul>
    {% for announcement in announcements.object_list %}
        {% with announcement.id as id %}
        <li>
            {% if announcement.date %}
                <strong>{{ announcement.date|date:"D, M j" }}:</strong>
            {% endif %}
            {{ announcement.text }}
            {% with announcement.user as announcer %}
            <span style="padding-left: 10px; font-style: italic; font-size: 0.8em; color: #999999">Posted by {{ announcer.get_full_name }} on {{ announcement.created|date:"M j" }} at {{ announcement.created|date:"g:i A" }}</span>
            {% ifequal announcer user_profile.user %}
                <span style="padding-left: 10px; font-size: 0.8em"><a href="{% url 'gtphipsi.chapter.views.edit_announcement' id=id %}">edit</a></span>
            {% else %}
                {% if 'change_announcement' in group_perms %}
                    <span style="padding-left: 10px; font-size: 0.8em"><a href="{% url 'gtphipsi.chapter.views.edit_announcement' id=id %}">edit</a></span>
                {% endif %}
            {% endifequal %}
            {% endwith %}
        </li>
        {% endwith %}
    {% empty %}
        <li>There are no announcements to display.</li>
    {% endfor %}
    </ul>
    {% if 'add_announcement' in group_perms %}
        <p><a class="alwaysgreen" href="{% url 'gtphipsi.chapter.views.add_announcement' %}">add announcement</a></p>
    {% endif %}
{% endblock %}