{% extends "base.html" %}
{% load static %}

{% block title %}
    Creed | {{ block.super }}
{% endblock %}

{% block content %}
    <h1>The Creed of Phi Kappa Psi</h1>
    <div style="margin-top: 20px">
	    <img class="content-right" alt="Badge" src="{% get_static_prefix %}images/badge_2.gif" />
        <p><strong>I believe</strong> that Phi Kappa Psi is a brotherhood of
	    honorable men, courteous and cultured, who pledge throughout their
	    lives to be generous, compassionate, and loyal comrades;</p>

        <p><strong>I believe</strong> that I am honor bound to strive manfully
	    for intellectual, moral, and spiritual excellence; to help and forgive
	    my Brothers; to discharge promptly all just debts; to give aid and
	    sympathy to all who are less fortunate;</p>

        <p><strong>I believe</strong> that I am honor bound to strengthen my
	    character and deepen my integrity; to counsel and guide my Brothers who
	    stray from their obligations; to respect and emulate my Brothers who
	    practice moderation in their manners and morals; to be ever mindful that
	    loyalty to my Fraternity should not weaken loyalty to my college, but
	    rather increase devotion to it, to my country, and to my God;</p>

        <p><strong>I believe</strong> that to all I meet, wherever I go, I
	    represent not only Phi Kappa Psi, but indeed the spirit of all fraternities;
	    thus I must ever conduct myself so as to bring respect and honor not to
	    myself alone, but also to my Fraternity;</p>

        <p>To the fulfillment of these beliefs, of these ideals, in the noble
	    perfection of Phi Kappa Psi, I pledge my life and my sacred honor.<br />
        <span class="more">&mdash; Written by John Henry Frizzell, Massachusetts Alpha 1898, and Kent
	    Christopher Owen, Indiana Beta 1958. Adopted by the 1964 Grand Arch Council.</span></p>
    </div>
{% endblock %}