{% extends "base.html" %}
{% load static %}

{% block title %}
    Phi Psi History | {{ block.super }}
{% endblock %}

{% block content %}
    <h1>National History</h1>
	<img class="content-left" alt="Founders" title="The founders of Phi Kappa Psi" src="{% get_static_prefix %}images/founders.jpg" />
	<p>The founding of Phi Kappa Psi was in distinct contrast to the
	beginning of most other fraternities which grew, for the most part,
	from local clubs, formed without any idea of expansion. Phi Kappa
	Psi was founded as a national fraternity which should assemble within
	its folds outstanding students of kindred spirits at well-established
	colleges throughout the country.</p>

    <p>Over 150 years ago two college students, William H. Letterman and
	Charles P.T. Moore, in the little college town of Canonsburg, Pennsylvania,
	in the hills of Western Pennsylvania were nursing and watching their
	stricken friends during an epidemic of typhoid fever at the college.
	Through the long night vigils, an appreciation of the great joy of
	serving others came into their lives. Calling a number of others to join
	them, a Brotherhood was founded on February 19, 1852. It grew, survived
	and gradually spread among the college men of the country. Idealists all,
	these founders of Phi Kappa Psi taught a new fraternity - a fraternity
	which should supplement the work of the university by cultivating those
	humanities without which the educated man fails of his greatest usefulness.</p>

    <p>At the time of Phi Psi's founding, Jefferson College was considered part
	of &quot;The Big Three&quot; in what was known as the &quot;Jeffersonian
	Cradle.&quot; The other two institutions comprising this group, Harvard
	and Princeton, were of very nearly equal size and equal high esteem,
	graduating predominantly ministers, then lawyers, then physicians, in
	descending numbers. Jefferson College merged with nearby Washington
	College in 1865, as did our Penn Alpha and Penn Delta Chapters merge
	coincident with their host institutions that same year.</p>

    <p>Recognizing the need and value of education, Phi Kappa Psi urges
	upon her members the securing of the best and broadest education possible.
	But unless actuated by a proper love for and service to mankind, the
	educated man is too apt to shrink from the human race, to waste his talents.
	It is to counteract this tendency that Phi Kappa Psi was founded.</p>

    <p>Phi Kappa Psi believes that talents should be cultivated to be used
	for the benefit of our fellowmen, and she seeks to develop among her
	members a purpose so to use theirs. But life is dreary, indeed, for him
	who, from a sense of duty alone, pursues and unloved task. He who would
	serve his fellowman must love his work and exalt those whom he would serve.</p>

    <p>It is this heart-filling desire to serve, and this high enthusiasm for
	an idealized task, that is Phi Psi's mission to supply. It is when a man
	realizes that he is doing his part of the world's work that he can approach
	his task with the exaltation of soul that compels success. When to education
	and the ability to do this is added the desire to render loving service, and
	that enthusiasm which is born of high ideals, the result is the development
	of manhood for which Phi Kappa Psi exists.<br />
    <span class="more">&mdash; Written by John Henry Frizzell, Massachusetts Alpha 1898, and Kent
	Christopher Owen, Indiana Beta 1958. Adopted by the 1964 Grand Arch Council.</span><br />
	<a class="alwaysgreen" href="#" title="back to the top">&uarr; top</a></p>

	<h1>Local Chapter History</h1>
	{% comment %}<img class="content-left" alt="Local Founders" src="{% get_static_prefix %}images/founders_local.jpg" />{% endcomment %}
	<p>The history of the Georgia Beta Chapter of Phi Kappa Psi begins with two men
	from Headquarters, Kevin Kozlen and David Reed. These two men put together
	the groundwork for working with administration and gathering a group of men
	together to form the chapter at the Georgia Institute of Technology.</p>

    <p>They put out fliers across campus and in student mailboxes to come meet
	them and find out about this new fraternity. After holding a few information
	sessions and social nights at the bowling alley and pool hall, they were ready
	to give out bids. They invited several students, but only 11 men initially
	accepted. The most prominent was Evan Gibson, who had helped the men from
	Headquarters find people who might be interested. Evan was a member of the
	chorale and convinced several of those members to check out the new fraternity.
	The group also consisted of people who had no connections with anyone else or
	only knew one or two other men.</p>

    <p>It was a motley group with only one freshman (the majority of guys were
	sophomores or juniors). The majors ranged from mechanical engineers to computer
	science to civil engineers. This group officially became the Georgia Beta Colony of
	Phi Kappa Psi on April 12, 1998, when Georgia Tech's Student Organization
	Office and Greek Affairs Office chartered the new student group.</p>

    <p>Life as a colony was very difficult at a campus with a tradition in Greek
	Life as long as Georgia Tech's. It was very important for the young group to
	grow and get their name out on campus. The members worked hard not only to
	become organized but also to maintain their grades and stay involved
	in other student groups, like chorale, housing, IFC, and the <em>Technique</em>. They
	also made sure to take part in campus-wide events like Homecoming, TEAM Buzz,
	blood drives, and Greek Week.</p>

    <p>Since there was no land available at the time of the colony's founding,
	the group held their meetings in empty classrooms or meeting rooms at the
	Student Center. Rush was conducted out of a couple of tents between the 4th
	Street Apartments. This location proved to be a good choice as it was
	in the middle of Greek row. The colony had to be creative with a limited
	budget to make each night of rush unique and fun. Spring rush was primarily
	held at Tech Rec, which holds the pool hall and bowling alley. When
	it came to parties, the group looked to local clubs for host locations. Some
	of the best times were held at the brotherhood retreats. Usually the group
	would go camping somewhere away from Atlanta and were led by the chaplain.
	The retreats focused on building the group together and realizing where they wanted
    to go in the future. These retreats also allowed the brothers to vent about
    any conflicts they may have had and to find some way to resolve those conflicts
    and to reconnect with their brothers.</p>

    <p>After two years of working hard and completing the requirements set forth
	by the national fraternity with the guidance of chapter advisor Flynn
	Brantley and chapter presidents Evan Gibson and Jared Kee, the colony
	submitted its bid to become a charter member. The charter was approved
	and installation was held on May 20, 2000. The Georgia Beta Chapter of Phi Kappa
	Psi received two charters at installation (both with the incorrect spelling
	of the university's name). There were more than 30 men to be initiated as the
	founding fathers of the Georgia Beta Chapter.<br />
	<a class="alwaysgreen" href="#" title="back to the top">&uarr; top</a></p>
{% endblock %}