{% extends "base.html" %}
{% load static %}
{% load url from future %}

{% block title %}
    Chapter Officers | {{ block.super }}
{% endblock %}

{% block head_extras %}
    {% if user_profile %}
        <link href="{{ STATIC_URL }}styles/bros_only.css" rel="stylesheet" type="text/css" media="screen" />
    {% endif %}
    <style type="text/css">
        table.list {
            margin: 30px 10px 15px 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>Chapter Officers</h1>
    {% ifequal officers|length 0 %}
        {% if 'add_chapterofficer' in group_perms %}
            <p style="margin-top: 20px">
                <span class="error">No officer positions have been added yet. Click <a class="alwaysgreen" href="{% url 'gtphipsi.officers.views.add_officer' %}">here</a> to add new officers.</span>
            </p>
        {% else %}
            <p style="margin-top: 20px">The chapter currently has not provided any information about her officers. Please check back later.</p>
        {% endif %}
    {% else %}
        <p>The following is a list of officer positions within the chapter, along with the name of the brother who currently holds that position.</p>
        {% if 'change_chapterofficer' in group_perms %}
            <p>To update an officer position, click "edit" next to the name of the office you wish to change.</p>
            {% if add %}
                <p><span class="error"><strong>NOTE:</strong> Some officer positions have not yet been added. Click <a class="alwaysgreen" href="{% url 'gtphipsi.officers.views.add_officer' %}">here</a> to add new officers.</span></p>
            {% endif %}
        {% endif %}
        <table class="list">
            <thead>
                <tr class="heading">
                    <td class="left">Office</td>
                    <td class="right">Current Officer</td>
                </tr>
            </thead>
            <tbody>
            {% for officer in officers %}
                <tr>
                    <td class="left">
                        {{ officer.get_office_display }}
                        {% if 'change_chapterofficer' in group_perms %}
                            <span class="small"><a class="alwaysgreen" href="{% url 'gtphipsi.officers.views.edit_officer' office=officer.office %}">edit</a></span>
                        {% endif %}
                    </td>
                    <td class="right"><a class="hovercolor" href="{% url 'gtphipsi.brothers.views.show' badge=officer.brother.badge %}">{{ officer.brother.common_name }} ... {{ officer.brother.badge }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endifequal %}
    {% if add %}
        <p></p>
    {% endif %}
{% endblock %}