{% extends "base.html" %}
{% load url from future %}

{% block title %}
    Information Card | {{ block.super }}
{% endblock %}

{% block sidebar %}
    {% if form.errors %}
        <h3 class="sidebar">Oops!</h3>
        <p class="sidebar">There is a problem with the following field{{ form.errors|pluralize }}:
        {% for name, errors in form.errors.items %}
            {% if forloop.last %}
                {{ name }}.
            {% else %}
                {{ name }},
            {% endif %}
        {% endfor %}
        Please fix {{ form.errors|pluralize:"it,them" }} and click "Submit" again.
        </p>
    {% else %}
        <h3 class="sidebar">Note</h3>
        <p class="sidebar">Only the name, year, and email fields are required.</p>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>Information Card</h1>
    <p>If you are interested in finding out more information about Phi Psi or would like to be contacted about our events, please fill out this form.</p>
    <form action="{% url 'gtphipsi.rush.views.info_card' %}" method="post">
        {% include "_table_form.html" %}
    </form>
{% endblock %}