{% extends "base_bros_only.html" %}

{% block title %}
    View Information Card | {{ block.super }}
{% endblock %}

{% block head_extras %}
    {{ block.super }}
    <style type="text/css">
        table.details {
            margin-top: 20px;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>{{ card }}</h1>
    <table class="details">
        <tbody>
            <tr>
                <td class="label">Name</td>
                <td class="value">{{ card.name }}</td>
            </tr>
            <tr>
                <td class="label">Year</td>
                <td class="value">{{ card.get_year_display }}</td>
            </tr>
            <tr>
                <td class="label">Email</td>
                <td class="value"><a class="alwaysgreen" href="mailto:{{ card.email }}">{{ card.email }}</a></td>
            </tr>
            {% if card.phone %}
            <tr>
                <td class="label">Phone</td>
                <td class="value">{{ card.phone }}</td>
            </tr>
            {% endif %}
            {% if card.interests %}
            <tr>
                <td class="label">Interests</td>
                <td class="value">{{ card.interests }}</td>
            </tr>
            {% endif %}
            {% if card.relatives %}
            <tr>
                <td class="label">Relatives</td>
                <td class="value">{{ card.relatives }}</td>
            </tr>
            {% endif %}
            <tr>
                <td class="label">Subscribed</td>
                <td class="value">{{ card.subscribe|yesno:"Yes,No" }}</td>
            </tr>
            <tr>
                <td class="label">Submitted</td>
                <td class="value">{{ card.created|date:"F j, Y f A" }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}