{% extends "base_bros_only.html" %}
{% load url from future %}

{% block title %}
    Rush List | {{ block.super }}
{% endblock %}

{% block content %}
    <h1>Rush List</h1>
    <p>Here is a list of all rushes. Click on each rush to see more information about it.
    The rush labeled "current" is the most recent rush that has been marked visible.</p>
    <ul style="margin-bottom: 30px">
    {% for rush in rushes %}
        <li><a class="hovercolor" href="{{ rush.get_absolute_url }}">{{ rush.title }}</a> {% if rush.is_current %}(current){% endif %}</li>
    {% empty %}
        <li style="list-style-type: none">There are no rushes to display.</li>
    {% endfor %}
    </ul>
    <form action="{% url 'gtphipsi.rush.views.add' %}" method="get">
        <input type="submit" class="submit" value="New Rush" />
    </form>
{% endblock %}