{% extends "base.html" %}
{% load static %}

{% block title %}
    Why Rush Phi Psi | {{ block.super }}
{% endblock %}

{% block content %}
    <h1>Why Rush Phi Psi</h1>
	<img class="content-left" alt="Phi Psi Badge" src="{% get_static_prefix %}images/badge_2.gif" />
	<p>Honesty, Integrity, Compassion, Consideration, Loyalty, Service, and Brotherly Love.
	Phi Kappa Psi is an association of men who strive to live honorably as gentlemen.
	Our Brotherhood is open to men of talent, character, and excellence. Phi Kappa Psi
	encourages diversity; we are from all different backgrounds, interests, and religions,
	and we are united in our dedication to intellectual, moral, and spiritual excellence.
	The brothers of Phi Kappa Psi at Georgia Tech value college as a time in a man's life
	to, primarily, get a degree, but also a time to gain important life experience.
	Experiences that we share as a brotherhood increase our devotion to our community, our
	school, our country, our faith, and ourselves. Phi Kappa Psi creates unique experiences
	that not many college students have the opportunity to be a part of.</p>

	<p><a href="#leader" title="Leadership">Leadership</a> |
	<a href="#scholar" title="Scholarship">Scholarship</a> |
	<a href="#philo" title="Philanthropy">Philanthropy</a> |
	<a href="#network" title="Networking">Networking</a></p>

	<h3 id="leader">Leadership</h3>
	<!--<img class="contentLeft" alt="Leadership!" src="./img/rush_leadership.jpg" />-->
	<p>As a brother in Phi Kappa Psi, you will have an immediate impact on the chapter.
	Because of the unique size of the brotherhood, you will be involved with many
	important aspects of running the chapter. From balancing finances and planning
	social events, from organizing philanthropy initiatives to leading recruitment,
	there are many facets to participate in while also having fun.</p>
	<p>Phi Psi members participate in many outside organizations such as Student
	Government Association, Freshmen Activities Board, Interfraternity Council,
	Judicial Board, Residence Hall Association, Residence Hall Councils, Peer
	Leaders, and Community Advisors. Members are also participate in other
	groups and organizations such as Navy ROTC, Air Force ROTC, Army ROTC,
	College Republicans, Christian Campus Fellowship, Wesley Foundation,
	Catholic Center, and Eagle Scouts.</p>
	<p>Members also make annual trips to the Phi Kappa Psi Woodrow Wilson
	Leadership School, Grand Arch Council, Presidents Leadership Academy,
	Educational Leadership Conference, and Cabo Alpha Leadership Academy.
	<br /><a href="#" title="back to the top">&uarr; top</a></p>

	<h3 id="scholar">Scholarship</h3>
	{% comment %}<img class="content-left" alt="Scholarship!" src="{% get_static_prefix %}images/rush_scholarship.jpg" />{% endcomment %}
	<p>Greek men at Georgia Tech consistently do better scholastically than
	their non-Greek counterpart. Georgia Beta has been in the top five
	fraternities on campus in terms of overall GPA three out of the past
	six years. Most recently, during the Spring 2006 semester, Georgia Beta's
	pledge class earned the highest pledge class GPA on campus, almost a full
	1.0 above the average pledge GPA.</p>
	<p>Many brothers have been on scholastic groups such as Alpha Kappa Psi,
	IEEE, BMES, EMBS, Pi Epsilon Phi, Pi Tau Sigma, Golden Key Club, Co-Op
	Honor Society, Briaerean Honor Society, ASCE, and IDSA. Our brothers also
	work as undergraduate and graduate teaching assistants, undergraduate and
	graduate research assistants, and tutors in the Greek Tutoring Program.
	<br /><a href="#" title="back to the top">&uarr; top</a></p>

	<h3 id="philo">Philanthropy</h3>
	{% comment %}<img class="content-left" alt="Philanthropy!" src="{% get_static_prefix %}images/rush_philo.jpg" />{% endcomment %}
	<p>Phi Kappa Psi was nationally founded on &quot;The Great Joy of Serving Others.&quot;
	We actively participate in events such as Relay for Life, Habitat for Humanity,
	Earth Day E-Waste Recycling Program, and Tech Beautification Day. Brothers are
	also involved with the Atlanta Humane Society, the YMCA, canned food drives,
	homeless shelters, childrens daycare centers, and soup kitchens.</p>
	<p>Philanthropy is a big part of what we do and we are constantly looking for
	ways to give back to the community. We held our first semi-annual clothing drive
	on campus during the Fall 2006 semester and look forward to finding ways for it
	to grow in the future.
	<br /><a href="#" title="back to the top">&uarr; top</a></p>

	<h3 id="network">Networking</h3>
	{% comment %}<img class="content-left" alt="Networking!" src="{% get_static_prefix %}images/rush_networking.jpg" />{% endcomment %}
	<p>Phi Psi isn't just composed of active undergraduates. Since 2000, the
	Georgia Tech chapter of Phi Kappa Psi has initiated 93 men. Many of our alumni are still actively involved. They attend meetings, dinners,
	tailgating, and provide real-world mentoring.</p>
	<p>Over the course of a year, we hold several large alumni events: Alumni Softball,
	Senior Roast and Toast, Founders' Day Dinner, and Spring Formal is open to alumni
	as well. At all of our events, we get to hear alumni reminisce about their Phi
	Psi experiences.</p>
	<p>Upon graduation, Phi Psi is an impeccable network to be a part of. Many alumni
	continue to be involved in the life of the chapter and are always welcome at Phi
	Psi. Alumni associations exist in the Atlanta area, as well as throughout the
	country, where Phi Psis continue to enjoy a lifelong friendship. Phi Psi is a
	brotherhood for life.</p>
	<p>National events are a great place to meet brothers and alumni from all over the
	United States. We also have a monthly luncheon with undergrads and alumni in the
	Atlanta area.</p>
	<p>On several occasions, brothers have found internships, co-ops, and jobs from
	brothers who have excelled in their careers.
	<br /><a href="#" title="back to the top">&uarr; top</a></p>
{% endblock %}