{% extends "base.html" %}

{% block title %}
    Rush Schedule | {{ block.super }}
{% endblock %}

{% block content %}
    <h1>Schedule for {{ rush }}</h1>
    <br />
    {% for event in rush.events.all %}
        <h3>{{ event.date|date:"l, F j" }} &mdash; {{ event.title }}</h3>
        <p><strong>Location:</strong>{% if event.location %} {{ event.location }} {% else %} TBA {% endif %}<br />
            <strong>Time:</strong> {{ event.start|time:"g:i A" }} &ndash; {{ event.end|time:"g:i A" }}<br />
            {% if event.food %}<strong>Food:</strong> {{ event.food }}<br />{% endif %}
            {% if event.description %}<strong>Description:</strong> {{ event.description }}</p>{% endif %}
    {% empty %}
        <p>There are currently no events to display. Check back soon!</p>
    {% endfor %}
{% endblock %}