{% load url from future %}

<ul>
    <li><a href="{% url 'gtphipsi.views.home' %}" {% ifequal menu_item 'home' %}class="selected"{% endifequal %}>Home</a></li>
    <li><a href="{% url 'gtphipsi.rush.views.show' %}" {% ifequal menu_item 'rush' %}class="selected"{% endifequal %}>Rush</a>
        <ul>
            <li><a href="{% url 'gtphipsi.rush.views.list' %}">All Rushes</a></li>
            <li><a href="{% url 'gtphipsi.rush.views.show' %}">Current Rush</a></li>
            <li><a href="{% url 'gtphipsi.rush.views.info_card_list' %}">Information Cards</a></li>
            <li><a href="{% url 'gtphipsi.rush.views.potentials' %}">Potential Members</a></li>
            <li><a href="{% url 'gtphipsi.rush.views.pledges' %}">Pledges</a></li>
        </ul>
    </li>
    <li><a href="{% url 'gtphipsi.chapter.views.announcements' %}" {% ifequal menu_item 'announcements' %}class="selected"{% endifequal %}>Announcements</a>
        <ul>
            <li><a href="{% url 'gtphipsi.chapter.views.announcements' %}">All Announcements</a></li>
            {% if 'add_announcement' in group_perms %}
                <li><a href="{% url 'gtphipsi.chapter.views.add_announcement' %}">Add Announcement</a></li>
            {% endif %}
        </ul>
    </li>
    <li><a href="{% url 'gtphipsi.forums.views.forums' %}" {% ifequal menu_item 'forums' %}class="selected"{% endifequal %}>Forums</a>
        <ul>
            <li><a href="{% url 'gtphipsi.forums.views.forums' %}">View Forums</a></li>
            <li><a href="{% url 'gtphipsi.forums.views.subscriptions' %}">Subscribed Threads</a></li>
            <li><a href="{% url 'gtphipsi.forums.views.my_threads' %}">My Threads</a></li>
        </ul>
    </li>
    <li><a href="{% url 'gtphipsi.officers.views.officers' %}" {% ifequal menu_item 'officers' %}class="selected"{% endifequal %}>Officers</a>
        <ul>
            <li><a href="{% url 'gtphipsi.officers.views.officers' %}">{% if 'change_chapterofficer' in group_perms %}View/Update Officers{% else %}View Officer List{% endif %}</a></li>
            <li><a href="{% url 'gtphipsi.officers.views.officer_history' %}">View Officer History</a></li>
        </ul>
    </li>
    <li><a href="{% url 'gtphipsi.brothers.views.manage' %}" {% ifequal menu_item 'admin' %}class="selected"{% endifequal %}>{% if user_profile.is_admin %}Admin{% else %}Brothers{% endif %}</a>
        <ul>
            <li><a href="{% url 'gtphipsi.brothers.views.manage' %}">{% if 'change_userprofile' in group_perms %}Manage Users{% else %}User Directory{% endif %}</a></li>
            {% if 'add_userprofile' in group_perms %}
                <li><a href="{% url 'gtphipsi.brothers.views.add' %}">Add New User</a></li>
            {% endif %}
            {% if 'change_group' in group_perms %}
                <li><a href="{% url 'gtphipsi.brothers.views.manage_groups' %}">Manage User Groups</a></li>
            {% endif %}
        </ul>
    </li>
    <li><a href="{% url 'gtphipsi.brothers.views.my_profile' %}" {% ifequal menu_item 'account' %}class="selected"{% endifequal %}>Account</a>
        <ul>
            <li><a href="{% url 'gtphipsi.brothers.views.my_profile' %}">View Profile</a></li>
            <li><a href="{% url 'gtphipsi.brothers.views.edit' %}">Edit Profile</a></li>
            <li><a href="{% url 'gtphipsi.brothers.views.edit_account' %}">Edit Account Details</a></li>
            <li><a href="{% url 'gtphipsi.brothers.views.visibility' %}">Privacy Settings</a></li>
            <li><a href="{% url 'gtphipsi.brothers.views.edit_notification_settings' %}">Notification Settings</a></li>
            <li><a href="{% url 'gtphipsi.brothers.views.change_password' %}">Change Password</a></li>
        </ul>
    </li>
</ul>