{% csrf_token %}
<table class="form">
    <tbody>
    {% for field in form %}
        <tr>
            <td {% if field.errors %}class="error {% if not field.help_text %}spaced{% endif %}"{% else %}{% if not field.help_text %}class="spaced"{% endif %}{% endif %} {% if field.field.required %}style="font-weight: bold"{% endif %}>
                {{ field.label_tag }}
            </td>
            <td {% if not field.help_text %} class="spaced"{% endif %}>
                {{ field }}
            </td>
            <td class="error small">
                <ul>
                    {% for error in field.errors %}
                        <li>{{ error|escape }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% if field.help_text %}
            <tr>
                <td></td>
                <td class="help-text small">
                    {{ field.help_text }}
                </td>
                <td></td>
            </tr>
        {% endif %}
    {% endfor %}
    <tr>
        <td colspan="3">
            <input class="submit" type="submit" value="{{ submit_text }}" />
        </td>
    </tr>
    </tbody>
</table>