{% extends "base.html" %}
{% load url from future %}

{% block head_extras %}
    {# <link href="{% static "bros_only.css" %}" rel="stylesheet" type="text/css" media="screen" /> #}
{% endblock %}

{% block menu %}
    <div id="menu">
        <ul>
            <li><a href="{% url 'gtphipsi.views.home' %}" {% ifequal menu_item 'home' %}class="selected"{% endifequal %}>Home</a></li>
            <li><a href="{% url 'gtphipsi.rush.views.current' %}" {% ifequal menu_item 'rush' %}class="selected"{% endifequal %}>Rush</a>
                <ul>
                    <li><a href="{% url 'gtphipsi.rush.views.list' %}">All Rushes</a></li>
                    <li><a href="{% url 'gtphipsi.rush.views.current' %}">Current Rush</a></li>
                    <li><a href="{% url 'gtphipsi.rush.views.add' %}">Add New Rush</a></li>
                    <li><a href="{% url 'gtphipsi.rush.views.info_card_list' %}">Information Cards</a></li>
                </ul>
            </li>
            <li><a href="{% url 'gtphipsi.chapter.views.announcements' %}" {% ifequal menu_item 'announcements' %}class="selected"{% endifequal %}>Announcements</a>
                <ul>
                    <li><a href="{% url 'gtphipsi.chapter.views.announcements' %}">All Announcements</a></li>
                    <li><a href="{% url 'gtphipsi.chapter.views.add_announcement' %}">Add Announcement</a></li>
                </ul>
            </li>
            <li><a href="{% url 'gtphipsi.brothers.views.manage' %}" {% ifequal menu_item 'admin' %}class="selected"{% endifequal %}>Admin</a>
                <ul>
                    <li><a href="{% url 'gtphipsi.brothers.views.manage' %}">Manage Users</a></li>
                    {% if user.get_profile.is_admin %}
                        <li><a href="{% url 'gtphipsi.brothers.views.add' %}">Add New User</a></li>
                        <li><a href="{% url 'gtphipsi.brothers.views.manage_groups' %}">Manage User Groups</a></li>
                    {% endif %}
                </ul>
            </li>
            {% comment %}<li><a href="{% url 'gtphipsi.chapter.views.word' %}" {% ifequal menu_item 'word' %}class="selected"{% endifequal %}>WORD</a></li>{% endcomment %}
            <li><a href="{% url 'gtphipsi.views.calendar' %}" {% ifequal menu_item 'calendar' %}class="selected"{% endifequal %}>Calendar</a></li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <p>This is a brothers-only page.</p>
{% endblock %}