{% extends "base.html" %}

{% block title %}
    Calendar | {{ block.super }}
{% endblock %}

{% block head_extras %}
    <style type="text/css">
        #sidebar {
            display: none;
        }

        #content {
            float: none;
            width: auto;
        }
    </style>
{% endblock %}

{% block content %}
    <div style="width: 810px; margin: 10px auto 10px auto; overflow-x: scroll">
        <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23eeeeee&amp;src=ac3rstv4pu9m1t322ear344r74%40group.calendar.google.com&amp;color=%23125A12&amp;ctz=America%2FNew_York" style="border-width: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
{% endblock %}