{% extends "base.html" %}
{% load url from future %}

{% block title %}
    Forgot Password | {{ block.super }}
{% endblock %}

{% block content %}
    <h1>Forgot Password</h1>
    <p></p>
    {% if error %}
        <span class="error">{{ error }}</span>
    {% else %}
        Enter your username in the field below and click "Submit". You will be emailed a temporary password to use.
    {% endif %}
    </p>
    <form action="{% url 'gtphipsi.views.forgot_password' %}" method="post">
        {% csrf_token %}
        <table class="form">
            <tbody>
            <tr>
                <td class="spaced"><label for="id_username">Username</label></td>
                <td class="spaced"><input name="username" id="id_username" type="text"></td>
            </tr>
            <tr>
                <td colspan="2"><input class="submit" type="submit" value="Submit" /></td>
            </tr>
            </tbody>
        </table>
    </form>
{% endblock %}