{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1>Brotherhood</h1>
	<h3>the idea behind phi kappa psi</h3>
	<img class="content-left" alt="Badge" title="The Badge of Phi Kappa Psi" src="{% get_static_prefix %}images/badge.jpg" />
	<p>The Phi Kappa Psi Fraternity is a private association of educated men who endeavor to
	    live honorably and humanely. Its Brotherhood is open to men of talent and character,
	    but to those in particular who as <strong>gentlemen</strong> feel an affinity with one
	    another in the common ways of college life and, moreover, in the pursuit of excellence.
	    Such men may differ in their origins, backgrounds, and beliefs, and even be set upon diverse
	    purposes, interests and vocations. Yet as Brothers in Phi Kappa Psi, they are vitally united
	    in their dedication to the highest standards of intellectual, emotional, and spiritual integrity.
	    <a class="more" href="#" title="Continue reading about Brotherhood">Read More&#8230;</a></p>

	<h1>History</h1>
	<h3>learn how phi psi became what it is today</h3>
	<img class="content-right" alt="Founders" title="W.H. Letterman and C.P.T. Moore" src="{% get_static_prefix %}images/founders.jpg" />
	<p>Founded over 150 years ago, Phi Psi boasts a rich history at many of the nation's top colleges
	    and universities. <strong>William H. Letterman</strong> and <strong>Charles P.T. Moore</strong>
	    founded Phi Kappa Psi in the little college town of Canonsburg, Pennsylvania, when they were nursing
	    their stricken friends during an epidemic of typhoid fever at their college.
	    It was through these long night vigils that an appreciation of <strong>the great joy of serving
	    others</strong> came into their lives. Calling a number of others to join them, a Brotherhood was
	    founded on February 19, 1852.  It flourished, and gradually extended to other colleges and universities
	    throughout the country. Idealists all, these founders of Phi Kappa Psi taught a new fraternity - a
	    Fraternity that would complement the work of the university by cultivating those humanities without
	    which the educated man fails of his greatest usefulness.
	    <a class="more" href="#" title="Continue reading about our history">Read More&#8230;</a></p>

	<h1>Alumni</h1>
	<h3>reinvest yourself in the chapter</h3>
	<p>Phi Kappa Psi alumni are one of the major driving forces behind the longevity and success of
	    its chapters. Without them we cannot truly function as a fraternity. Georgia Beta relies on its
	    alumni for job support after graduation, financial contributions, housing corps management and
	    <strong>continued involvement in the chapter.</strong> If you are a Georgia Beta alumnus and would
	    like to get involved with chapter or make a financial contribution please contact our current
	    Alumni Relations Chair. Be sure to check back periodically for alumni events and updates. Hope to
	    see you in Atlanta in the near future!</p>
{% endblock %}