{% extends "base.html" %}
{% load url from future %}

{% block title %}
    Reset Password | {{ block.super }}
{% endblock %}

{% block content %}
    <h1>Reset Password</h1>
    <p style="padding-top: 10px">
    {% if own_account %}
        Click "Reset" to reset your password. You will be emailed a temporary password to use.
    {% else %}
        Click "Reset" to reset {{ name }}'s password. He will be emailed a temporary password to use. Note that this activity will be logged, including your badge number.
    {% endif %}
    </p>
    <form action="{% url 'gtphipsi.views.reset_password' id=user_id %}" method="post">
        {% csrf_token %}
        <input class="submit" type="submit" value="Reset" />
    </form>
{% endblock %}