{% extends "base_bros_only.html" %}
{% load url from future %}

{% block title %}
    Change Password | {{ block.super }}
{% endblock %}

{% block sidebar %}
    <h3>Note</h3>
    <p>Keep in mind that a longer password is more difficult to guess. It's also a good idea not to reuse passwords,
    especially the passwords you use for your email and bank accounts.</p>
{% endblock %}

{% block content %}
    <h1>Change Password</h1>
    <p>{% if message %}
        {{ message }}
        {% else %}
        Use the form below to change your password. Click "Save" when you are finished.
        {% endif %}
    </p>
    <form action="{% url 'gtphipsi.brothers.views.change_password' %}" method="post">
        {% include "snippets/_table_form.html" with submit_text="Save" %}
    </form>
{% endblock %}