{% extends "base_bros_only.html" %}
{% load url from future %}

{% block title %}
    Change Password | {{ block.super }}
{% endblock %}

{% block content %}
    <h1>Change Password</h1>
    <p>{% if message %}
        {{ message }}
        {% else %}
        Use the form below to change your password. Click "Save" when you are finished.
        {% endif %}
    </p>
    <form action="{% url 'gtphipsi.brothers.views.change_password' %}" method="post">
        {% include "_table_form.html" with submit_text="Save" %}
    </form>
{% endblock %}