{% extends "base_bros_only.html" %}
{% load url from future %}

{% block title %}
    Edit User Profile | {{ block.super }}
{% endblock %}

{% block content %}
    <h1>Edit User Profile</h1>
    <p>Use the form below to edit your user profile. Click "Save" when you are finished.</p>
    <p>You may also want to <a href="{% url 'gtphipsi.brothers.views.edit_account' %}">edit your account details</a> or <a href="{% url 'gtphipsi.brothers.views.change_password' %}">change your password</a>.</p>
    <form action="{% url 'gtphipsi.brothers.views.edit' %}" method="post">
        {% include "_table_form.html" with submit_text="Save" %}
    </form>
{% endblock %}