{% extends "base_bros_only.html" %}
{% load url from future %}

{% block title %}
    Edit Account Details | {{ block.super }}
{% endblock %}

{% block head_extras %}
    <script type="text/javascript">
        var originalIndex = null;
        window.onload = function() {
            originalIndex = document.getElementById('id_status').selectedIndex;
        };
        function updateStatusSelect() {
            var result = confirm('Are you sure you want to change your chapter status?');
            if (result) {
                originalIndex = document.getElementById('id_status').selectedIndex;
            } else {
                document.getElementById('id_status').selectedIndex = originalIndex;
            }
        }
    </script>
{% endblock %}

{% block content %}
    <h1>Edit Account Details</h1>
    <p>Use the form below to edit {% if own_account %}your{% else %}{{ name }}'s{% endif %} account details. Click "Save" when you are finished.</p>
    {% if own_account %}<p>You may also want to <a href="{% url 'gtphipsi.brothers.views.edit' %}">edit your user profile</a> or <a href="{% url 'gtphipsi.brothers.views.change_password' %}">change your password</a>.</p>{% endif %}
    <form action="{% if own_account %}{% url 'gtphipsi.brothers.views.edit_account' %}{% else %}{% url 'gtphipsi.brothers.views.edit_account' badge=badge %}{% endif %}" method="post">
        {% csrf_token %}
        <table class="form">
            <tbody>
            <!-- Name -->
            <tr>
                <td colspan="3">
                    <h3>Name</h3>
                    <hr />
                </td>
            </tr>
            <tr><td colspan="3" height="5px"></td></tr> <!-- TODO avoid this? -->
            {% with field=form.first_name %}
            <tr>
                <td {% if field.errors %}class="error {% if not field.help_text %}spaced{% endif %}" style="font-weight: bold"{% else %}{% if not field.help_text %}class="spaced"{% endif %}{% endif %}>
                    {{ field.label_tag }}
                </td>
                <td {% if not field.help_text %} class="spaced"{% endif %}>
                    {{ field }}
                </td>
                <td class="error small">
                    <ul>
                        {% for error in field.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% if field.help_text %}
                <tr>
                    <td></td>
                    <td class="help-text small">
                        {{ field.help_text }}
                    </td>
                    <td></td>
                </tr>
            {% endif %}
            {% endwith %}
            {% with field=form.middle_name %}
                <tr>
                    <td {% if field.errors %}class="error {% if not field.help_text %}spaced{% endif %}" style="font-weight: bold"{% else %}{% if not field.help_text %}class="spaced"{% endif %}{% endif %}>
                        {{ field.label_tag }}
                    </td>
                    <td {% if not field.help_text %} class="spaced"{% endif %}>
                        {{ field }}
                    </td>
                    <td class="error small">
                        <ul>
                            {% for error in field.errors %}
                                <li>{{ error|escape }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% if field.help_text %}
                    <tr>
                        <td></td>
                        <td class="help-text small">
                            {{ field.help_text }}
                        </td>
                        <td></td>
                    </tr>
                {% endif %}
            {% endwith %}
            {% with field=form.last_name %}
                <tr>
                    <td {% if field.errors %}class="error {% if not field.help_text %}spaced{% endif %}" style="font-weight: bold"{% else %}{% if not field.help_text %}class="spaced"{% endif %}{% endif %}>
                        {{ field.label_tag }}
                    </td>
                    <td {% if not field.help_text %} class="spaced"{% endif %}>
                        {{ field }}
                    </td>
                    <td class="error small">
                        <ul>
                            {% for error in field.errors %}
                                <li>{{ error|escape }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% if field.help_text %}
                    <tr>
                        <td></td>
                        <td class="help-text small">
                            {{ field.help_text }}
                        </td>
                        <td></td>
                    </tr>
                {% endif %}
            {% endwith %}
            {% with field=form.suffix %}
                <tr>
                    <td {% if field.errors %}class="error {% if not field.help_text %}spaced{% endif %}" style="font-weight: bold"{% else %}{% if not field.help_text %}class="spaced"{% endif %}{% endif %}>
                        {{ field.label_tag }}
                    </td>
                    <td {% if not field.help_text %} class="spaced"{% endif %}>
                        {{ field }}
                    </td>
                    <td class="error small">
                        <ul>
                            {% for error in field.errors %}
                                <li>{{ error|escape }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% if field.help_text %}
                    <tr>
                        <td></td>
                        <td class="help-text small">
                            {{ field.help_text }}
                        </td>
                        <td></td>
                    </tr>
                {% endif %}
            {% endwith %}
            {% with field=form.nickname %}
                <tr>
                    <td {% if field.errors %}class="error {% if not field.help_text %}spaced{% endif %}" style="font-weight: bold"{% else %}{% if not field.help_text %}class="spaced"{% endif %}{% endif %}>
                        {{ field.label_tag }}
                    </td>
                    <td {% if not field.help_text %} class="spaced"{% endif %}>
                        {{ field }}
                    </td>
                    <td class="error small">
                        <ul>
                            {% for error in field.errors %}
                                <li>{{ error|escape }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% if field.help_text %}
                    <tr>
                        <td></td>
                        <td class="help-text small">
                            {{ field.help_text }}
                        </td>
                        <td></td>
                    </tr>
                {% endif %}
            {% endwith %}
            <!-- Email -->
            <tr>
                <td class="spaced"></td>
            </tr>
            <tr>
                <td colspan="3">
                    <h3>Email Address</h3>
                    <hr />
                </td>
            </tr>
            {% with field=form.email %}
                <tr>
                    <td {% if field.errors %}class="error {% if not field.help_text %}spaced{% endif %}" style="font-weight: bold"{% else %}{% if not field.help_text %}class="spaced"{% endif %}{% endif %}>
                        {{ field.label_tag }}
                    </td>
                    <td {% if not field.help_text %} class="spaced"{% endif %}>
                        {{ field }}
                    </td>
                    <td class="error small">
                        <ul>
                            {% for error in field.errors %}
                                <li>{{ error|escape }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% if field.help_text %}
                    <tr>
                        <td></td>
                        <td class="help-text small">
                            {{ field.help_text }}
                        </td>
                        <td></td>
                    </tr>
                {% endif %}
            {% endwith %}
            <!-- Status -->
            <tr>
                <td class="spaced"></td>
            </tr>
            <tr>
                <td colspan="3">
                    <h3>Chapter Status</h3>
                    <hr />
                </td>
            </tr>
            {% with field=form.status %}
                <tr>
                    <td {% if field.errors %}class="error {% if not field.help_text %}spaced{% endif %}" style="font-weight: bold"{% else %}{% if not field.help_text %}class="spaced"{% endif %}{% endif %}>
                        {{ field.label_tag }}
                    </td>
                    <td {% if not field.help_text %} class="spaced"{% endif %}>
                        {{ field }}
                    </td>
                    <td class="error small">
                        <ul>
                            {% for error in field.errors %}
                                <li>{{ error|escape }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% if field.help_text %}
                    <tr>
                        <td></td>
                        <td class="help-text small">
                            {{ field.help_text }}
                        </td>
                        <td></td>
                    </tr>
                {% endif %}
            {% endwith %}
            <tr>
                <td colspan="3">
                    <input class="submit" type="submit" value="Save" />
                </td>
            </tr>
            </tbody>
        </table>
    </form>
{% endblock %}