{% extends "base_bros_only.html" %}
{% load url from future %}

{% block title %}
    Edit {{ type|capfirst }} Privacy Settings | {{ block.super }}
{% endblock %}

{% block sidebar %}
    {% ifequal type 'chapter' %}
        <h3>Note</h3>
        <p>If you hide information from your chapter profile, not even you can see it when you view your profile.
        So why provide that information if you're just going to hide it from everyone?</p>
        <p>If you find that you have provided some information that you don't want anyone to see, simply edit your user profile and remove it.</p>
    {% else %}
        {{ block.super }}
    {% endifequal %}
{% endblock %}

{% block content %}
    <h1>Edit {{ type|capfirst }} Privacy Settings</h1>
    <p>Use this form to change what information is visible on your {{ type }} profile. {{ message }}</p>
    {% ifequal type 'public' %}
    <p><span style="font-weight: bold">Note:</span> {{ name_msg }}</p>
    {% endifequal %}
    <form action="{% ifequal type 'public' %}{% url 'gtphipsi.brothers.views.edit_public_visibility' %}{% else %}{% url 'gtphipsi.brothers.views.edit_chapter_visibility' %}{% endifequal %}" method="post">
        {% csrf_token %}
        <table class="form">
            <tbody>
            {% for field in form %}
                {% if field.label in fields %}
                <tr>
                    <td class="spaced">
                        {{ field.label_tag }}
                    </td>
                    <td class="spaced">
                        {{ field }}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            <tr>
                <td colspan="3">
                    <input class="submit" type="submit" value="Save" />
                </td>
            </tr>
            </tbody>
        </table>
    </form>
{% endblock %}