{% extends "base.html" %}
{% load url from future %}

{% block title %}
    Chapter Brothers | {{ block.super }}
{% endblock %}

{% block head_extras %}
    <style type="text/css">
        #content li a, #content li a:visited {
            color: #282828 !important;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>The Brothers</h1>
    <p>The chapter currently has {{ num_brothers }} undergraduate brothers.
    The following is a list of the chapter's current active membership.
    Click a brother's name to view his profile.</p>
    <ul>
    {% for brother in brothers.object_list %}
        {% with brother.get_profile as profile %}
            <li><a href="{% url 'gtphipsi.brothers.views.show' badge=profile.badge %}">{{ profile.preferred_name }} {{ brother.last_name }} ... {{ profile.badge }}</a></li>
        {% endwith %}
    {% empty %}
        <li>Nothing to display.</li>
    {% endfor %}
    </ul>
    <div>
    {% if brothers.has_previous %}
        <a href="?page={{ brothers.previous_page_number }}">previous</a>
    {% endif %}
    Page {{ brothers.number }} of {{ brothers.paginator.num_pages }}
    {% if brothers.has_next %}
        <a href="?page={{ brothers.next_page_number }}">next</a>
    {% endif %}
    </div>
{% endblock %}