{% extends "base_bros_only.html" %}
{% load url from future %}

{% block title %}
    View User Group | {{ block.super }}
{% endblock %}

{% block head_extras %}
    <style type="text/css">
        #content ul {
            margin: 0 0 20px 0;
        }
        #content ul li {
            list-style-type: none;
        }
    </style>
{% endblock %}

{% block content %}
    <div style="float: right; padding: 15px"><a href="{% url 'gtphipsi.brothers.views.manage_groups' %}">back to list</a></div>
    <h1 style="margin-bottom: 15px">Group "{{ group.name }}"</h1>
    <p>This page shows the permissions and members associated with the user group <b>{{ group.name }}</b>. Click the links below to make changes.</p>
    <h2>Permissions</h2> <span class="small"><a class="hovercolor" href="{% url 'gtphipsi.brothers.views.edit_group_perms' name=group.name %}">edit</a></span>
    <ul>
    {% for perm in group.permissions.all %}
        <li>{{ perm.name }}</li>
    {% empty %}
        <li>There are no permissions associated with this group.</li>
    {% endfor %}
    </ul>
    <h2>Members</h2>
    <ul>
    {% for account in users %}
        <li>{{ account.get_full_name }} ... {{ account.get_profile.badge }}</li>
    {% empty %}
        <li>This group has no members.</li>
    {% endfor %}
    </ul>
{% endblock %}