{% extends "base_bros_only.html" %}
{% load url from future %}

{% block title %}
    View User Group | {{ block.super }}
{% endblock %}

{% block head_extras %}
    {{ block.super }}
    <style type="text/css">
        #content ul {
            margin: 0 0 20px 0;
        }
        #content ul li {
            list-style-type: none;
        }
    </style>

    {% if 'delete_group' in group_perms %}
    <script type="text/javascript">
        function confirm_delete(name) {
            if (name == 'Undergraduates' || name == 'Administrators')
                alert('You may not delete this group.');
            else if (confirm('Are you sure you want to delete this user group? You cannot undo this action.'))
                window.location.href = "{% url 'gtphipsi.brothers.views.delete_group' id=group.id %}";
        }
    </script>
    {% endif %}
{% endblock %}

{% block content %}
    <div style="float: right; padding: 15px"><a class="alwaysgreen" href="{% url 'gtphipsi.brothers.views.manage_groups' %}">back to list</a></div>
    <h1 style="margin-bottom: 15px">Group "{{ group.name }}"</h1>
    <p>This page shows the permissions and members associated with the user group <b>{{ group.name }}</b>. Click the links below to make changes.</p>
    <h2>Permissions</h2>
    {% if 'change_group' in group_perms %}
        <span class="small"><a class="hovercolor" href="{% url 'gtphipsi.brothers.views.edit_group_perms' id=group.id %}">edit</a></span>
    {% endif %}
    <ul>
    {% for perm in group.permissions.all %}
        <li>{{ perm.name }}</li>
    {% empty %}
        <li>There are no permissions associated with this group.</li>
    {% endfor %}
    </ul>
    <h2>Members</h2>
    {% if 'change_group' in group_perms %}
        <span class="small"><a class="hovercolor" href="{% url 'gtphipsi.brothers.views.edit_group_members' id=group.id %}">edit</a></span>
    {% endif %}
    <ul>
    {% for account in users %}
        <li>{{ account }}</li>
    {% empty %}
        <li>This group has no members.</li>
    {% endfor %}
    </ul>
    {% if 'delete_group' in group_perms %}
        <div style="float: right"><a onclick="confirm_delete('{{ group.name }}')">delete</a></div>
    {% endif %}
{% endblock %}