/* Global and default CSS settings for the gtphipsi project. */


/* ---- [Overall Look and Feel] ---- */
body {
    background-color: #404040;
    font-family: "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
    color: #282828;
}

h1, h2 {
    font-family: Garamond,Georgia,Times,serif;
    font-weight: bold;
    margin: 5px 0 0 0;
}

h3 {
    font-variant: small-caps;
    margin: 0;
}

div.padded {
    padding: 5px 10px 10px 10px;
}

div.rounded {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background: #eeeeee;
}

#wrapper {
    width: 80%;
    margin: 0 10% 0 10%;
    clear: both;
}

a {
    color: #006b3f; /* #005a00 */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #af1e2d; /* #990000 */
}

a.selected {
    color: #006b3f !important;
    font-weight: bold !important;
}

img.content-left {
	float: left;
	margin: 5px 5px 0 0;
	padding: 3px;
	border: 1px solid #cccccc;
}

img.content-right {
	float: right;
	margin: 0 0 0 5px;
	padding: 3px;
	border: 1px solid #cccccc;
}

p {
    margin-top: 0;
}

span.more {
    color: #bbbbbb;
    font-style: italic;
}

/* ---- [Common Elements] ---- */
#header, #menu, #footer {
    min-width: 250px;
    margin: 10px 0;
    float: none;
    clear: both;
    overflow-x: hidden;
}

#header {
    margin-top: 20px;
    min-height: 170px;
    border: 3px solid #000000;
    padding: 5px 0 5px 5px;
}

#menu {
    height: 35px;
    min-height: 35px;
    border: none 0;
    width: 50em;
	margin: 0 auto;
	padding: 0;
	font-weight: bold;
}

#sidebar {
    width: 20%;
    margin: 10px 0 10px 0;
    float: left;
}

#content {
    width: 73%;
    min-width: 150px;
    min-height: 150px;
    float: right;
    margin: 10px 0 10px 0;
    border: 3px solid #000000;
    overflow-x: hidden;
}

#footer {
    padding: 2px 0 2px 0;
}

h3.sidebar {
    font-variant: small-caps;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: 0;
    background: url('../images/menu_sub_sep.gif') bottom left repeat-x;
}

p.sidebar {
    padding-top: 5px;
}

/* ---- [Main Menu] ---- */
#menu ul {
	height: 20px;
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu li {
	float: left;
	padding: 0;
}

#menu li a {
	color: #282828;
	display: block;
	font-weight: normal;
	line-height: 35px;
	margin: 0;
	padding: 0 25px;
	text-align: center;
	text-decoration: none;
}


#menu li a:hover,
#menu ul li:hover a 
{
	background: #af1e2d url("../images/menu_hover.gif") bottom center no-repeat;
	color: #eeeeee !important;
	text-decoration: none;
}

#menu li ul {
	background: #006b3f;
	display: none;
	height: auto;
	padding: 0;
	margin: 0;
	border: 0;
	position: absolute;
	width: 150px;
	z-index: 200;
}

#menu li:hover ul {
	display: block;
}

#menu li li {
	background: url('../images/menu_sub_sep.gif') bottom left repeat-x;
	display: block;
	float: none;
	margin: 0;
	padding: 0;
	width: 150px;
}

#menu li:hover li a {
	background: none;
}

#menu li ul a {
	display: block;
	height: 35px;
	font-size: 12px;
	font-style: normal;
	margin: 0;
	padding: 0 10px 0 15px;
	text-align: left;
}

#menu li ul a:hover,
#menu li ul li:hover a
{
	background: #af1e2d url('../images/menu_hover_sub.gif') center left no-repeat; /* #d82240 */
	border: 0;
	color: #ffffff;
	text-decoration: none;
}

#menu p {
	clear: left;
}

/* ---- [Forms] ---- */
label {
	float: left;
	margin-right: 15px;
	padding-top: 5px;
	width: 125px;
	text-align: left;
}

input, select, textarea {
	padding: 5px;
	width: 350px;
	font: normal 1em "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	border: 2px solid #cccccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input.submit {
    width: 100px;
    background: #006b3f;
    color: #eeeeee;
    cursor: pointer;
}

input:focus, select:focus, textarea:focus {
	border: 2px solid #d82240 !important;
}

input[type=checkbox] {
    width: auto;
    margin-bottom: 0;
}

table.form {
    margin: 10px;
    border-collapse: collapse;
}

table.form tr {
    margin: 0;
}

table.form tr td {
    vertical-align: middle;
}

table.form tr td.error {
    color: #d82240;
}

table.form tr td.error ul {
    list-style-type: none;
    margin: 0;
}

table.form tr td.small {
    font-size: 0.85em;
}

table.form tr td.help-text {
	color: #999999;
    padding-bottom: 10px;
}

table.form tr td.spaced {
    padding-bottom: 10px;
}