{% extends "base.html" %}
{% load url from future %}

{% block title %}
    Reset Password | {{ block.super }}
{% endblock %}

{% block content %}
    <h1>Reset Password</h1>
    <p style="padding-top: 10px">
        Click "Reset" to reset the password for {{ username }}. {% if anon %}You{% else %}He{% endif %} will be emailed a temporary password to use.
        {% if not anon %}Note that this activity will be logged, including your badge number.{% endif %}
    </p>
    <form action="{% url 'gtphipsi.views.reset_password' id=user_id %}" method="post">
        {% csrf_token %}
        <input class="submit" type="submit" value="Reset" />
    </form>
{% endblock %}