{% extends "base_bros_only.html" %}
{% load url from future %}

{% block title %}
    {% if create %}Add{% else %}Edit{% endif %} Thread | {{ block.super }}
{% endblock %}

{% block head_extras %}
    {{ block.super }}
    {% if not create and 'delete_thread' in group_perms %}
    <script type="text/javascript">
        function confirm_delete() {
            if (confirm("Are you sure you want to delete this thread? All posts in the thread will be deleted as well."))
                window.location.href = "{% url 'gtphipsi.forums.views.edit_thread' forum=forum.slug id=thread.id thread=thread.slug %}?delete=true";
        }
    </script>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>{% if create %}Add{% else %}Edit{% endif %} Thread</h1>
    {% if create %}
        <p>Use the form below to add a new thread. Click "Add" when you are finished.</p>
        <form action="{% url 'gtphipsi.forums.views.add_thread' slug=forum.slug %}" method="post">
            {% include 'snippets/_table_form.html' with submit_text='Add' %}
        </form>
    {% else %}
        <p>Use the form below to edit the thread "{{ thread.title }}". Click "Save" when you are finished.</p>
        <form action="{% url 'gtphipsi.forums.views.edit_thread' forum=forum.slug id=thread.id thread=thread.slug %}" method="post">
            {% include 'snippets/_table_form.html' with submit_text='Save' %}
        </form>
        {% if 'delete_thread' in group_perms %}
            <div style="float: right">
                <a class="alwaysgreen" onclick="confirm_delete()">delete</a>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}