{% extends "base_bros_only.html" %}
{% load url from future %}

{% block title %}
    {% if subscribe %}Subscribed{% else %}My{% endif %} Threads | {{ block.super }}
{% endblock %}

{% block head_extras %}
    {{ block.super }}
    <style type="text/css">
        table.list {
            margin: 30px 10px 15px 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>{% if subscribe %}Subscribed{% else %}My{% endif %} Threads</h1>
    {% ifequal threads|length 0 %}
        <p style="margin-top: 20px">There are no threads to display.</p>
    {% else %}
        <p>Below is a list of threads {% if subscribe %}to which you have subscribed{% else %}you have created{% endif %}, ordered by date updated.</p>
        <table class="list">
            <thead>
                <tr class="heading">
                    <td class="left">Thread</td>
                    <td class="middle">{% if subscribe %}Owner{% else %}Forum{% endif %}</td>
                    <td class="middle">Last Post</td>
                    <td class="right">Replies</td>
                </tr>
            </thead>
            <tbody>
            {% for thread in threads %}
                <tr>
                    <td class="left"><a class="alwaysgreen" href="{% url 'gtphipsi.forums.views.view_thread' forum=thread.forum.slug id=thread.id thread=thread.slug %}">{{ thread.title }}</a></td>
                    <td class="middle">
                        {% if subscribe %}
                            <a class="alwaysgreen" href="{{ thread.owner.get_absolute_url }}">{{ thread.owner.common_name }}</a>
                        {% else %}
                            <a class="alwaysgreen" href="{{ thread.forum.get_absolute_url }}">{{ thread.forum.name }}</a>
                        {% endif %}
                    </td>
                    {% with thread.latest_post as post %}
                    <td class="middle">
                        {{ post.created|date:"n/j/Y f A" }}
                        by <a class="alwaysgreen" href="{{ post.user.get_absolute_url }}">{{ post.user.common_name }}</a>
                        <span style="font-size: 0.7em; padding-left: 5px"><a class="alwaysgreen" href="{{ post.get_absolute_url }}">&#x25B6;</a></span>
                    </td>
                    {% endwith %}
                    <td class="right center">{{ thread.posts.count|add:-1 }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endifequal %}
{% endblock %}